body {
  margin: 0 auto;
  width: 375px;  
}

.wrap {
  width: 100%;
  background: linear-gradient( #80bef5f9,  #f4e6c6);
}

.header {
  margin: 0 auto;
  padding: 20px 0 0 0;
  color: white;
  text-align: center;
}

.header h1 {
  font-size: 50px;
  margin: 0 auto;
}

.main {
  padding: 0 20px;
}

.main-messeges {
  padding: 20px 0;
}

.main-messege {
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 20px;
}

.function {
  display: flex;
  justify-content: center;
}
#serch-form {
  margin-left: 20px;
  margin-bottom: 10px;
}

 #serch-box {
   outline: 0;
   
   height: 30px;
   padding-right: 20px;
   max-width: 270px;
   border-radius: 2px;
   background: white;
   border: none;
 }

 #serch-btn {
   width: 50px;
   height: 30px;
   border-radius: 2px;
   background: #7fbfff;
   color: #fffdf8;
   font-weight: bold;
   font-size: 16px;
   border: none;
   padding: 2px 0 6px 0;
 }

 #serch-btn:hover {
   background: #fffdf8;
   color: #7fbfff;
 }

 .match-count {
   margin: 0;
 }

 .footer {
   padding-bottom: 100px;
 }


