{% extends 'post/base.html' %}

{% block list %}
<div class="posts">
  {% for item in obj %}
    <div class="post">
      <div class="post-title">
        {{ item.where }}
      </div>
      <div class="post-img">
        <img src="{{ item.photo1.url }}" width="80" height="80"/></td>     
      </div>
      <div class="post-description">
        {{ item.description }}
      </div>
      <div class='post-time'>
        {{ item.posted_at | date:"Y年m月d日 " }}
      </div>
  
    </div>
    {% endfor %}
</div>
  
{% endblock list %}
  