{% extends 'post/base.html' %} 
{% block content %}
<div class="match-posts">
  {% if query %}
  <p class="match-count">{{ posts.count }}件合致しました</p>
  {% endif %}
</div>

<div class="posts">
  {% for item in posts %}

  <div class="post">
    <div class="store-info">
      <h2 class="post-store_name">{{ item.store_name }}</h2>
      <p class="post-where post-food_category">
        {{ item.where}}/{{ item.food_category }}
      </p>
    </div>
    <div class="post-img">
      <img src="{{ item.photo1.url }}" width="90" height="100" />

      {% if item.photo2 %}
      <img src="{{ item.photo2.url }}" width="90" height="100" />
      {% endif %} {% if item.photo3 %}
      <img src="{{ item.photo3.url }}" width="90" height="100" />
      {% endif %} {% if item.photo4 %}
      <img src="{{ item.photo4.url }}" width="90" height="100" />
      {% endif %} {% if item.photo5 %}
      <img src="{{ item.photo5.url }}" width="90" height="100" />
      {% endif %}
    </div>
    <div>
      <p class="post-description">{{ item.description }}</p>
    </div>
    <div>
      <p class="post-time">{{ item.posted_at | date:"Y年m月d日 " }}</p>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
